In [1]:
import pandas as pd
import numpy as np

In [3]:
from env import host, username, password

In [5]:
#Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.
url = f'mysql+pymysql://{username}:{password}@{host}/employees'

In [6]:
#Use your function to obtain a connection to the employees database.
pd.read_sql(''' SELECT *
FROM employees
LIMIT 5 OFFSET 50
''', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [13]:
#a. Intentionally make a typo in the database url. What kind of error message do you see?
url = f'mysql+pymysql://{username:{password}@{host}/employees'

SyntaxError: f-string: expecting '}' (231045927.py, line 2)

In [14]:
#b. Intentionally make an error in your SQL query. What does the error message look like?
pd.read_sql(''' SELECT *
FROM emloyees
LIMIT 5 OFFSET 50
''', url)

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:mysq.pymysql

In [18]:
#Read the employees and titles tables into two separate DataFrames.
df_e = pd.read_sql('''
SELECT *
FROM employees
LIMIT 100
''',url)

In [16]:
df_t = pd.read_sql('''
SELECT *
FROM titles as t
LIMIT 100
''',url)

In [17]:
df_t.shape

(100, 4)

In [19]:
df_e.shape

(100, 6)

In [20]:
# Display the summary statistics for each DataFrame.
df_t.describe()

             emp_no
count    100.000000
mean   10034.320000
std       18.656859
min    10001.000000
25%    10018.000000
50%    10035.500000
75%    10050.000000
max    10066.000000

In [21]:
df_e.describe()

             emp_no
count    100.000000
mean   10050.500000
std       29.011492
min    10001.000000
25%    10025.750000
50%    10050.500000
75%    10075.250000
max    10100.000000

In [22]:
# How many unique titles are in the titles DataFrame?
unique_titles = df_t['title'].nunique()
print(unique_titles)

6

In [25]:
oldest_date = df_t['to_date'].min()
print(oldest_date)

1987-01-27

In [26]:
most_recent = df_t['to_date'].max()
print(most_recent)

9999-01-01